[user]
	name = Alexey Shockov
	email = alexey@shockov.com

[color]
	ui = true

[core]
	autocrlf = input
	editor = nano
	whitespace = trailing-space,space-before-tab
	excludesfile = ~/.gitignore

[clean]
	requireForce = true

[branch]
	autosetuprebase = always

[help]
	autocorrect = 1

[apply]
	whitespace = fix

[github]
	user = alexeyshockov

[sendemail]
	smtpserver = smtp.gmail.com
	smtpuser = alexey@shockov.com
	smtpserverport = 587
	smtpencryption = tls

[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%an%d%Creset %s %Cgreen(%cr)%Creset' --date=relative
	st = status -sb
	s = status
	v = log --pretty=format:'%cd%Cgreen%d %Cblue%h %Creset%s' --abbrev-commit --date=short -1

	standup = "!git log --since yesterday --author `git config user.email` --pretty=format:'%Cred%h%Creset %C(yellow)%an%d%Creset %s %Cgreen(%cr)%Creset' --date=relative"
	overview = log --all --graph --simplify-by-decoration --decorate --pretty=format:'%cd%Cgreen%d %Cblue%h %Creset%s' --date=short

	ignored = ls-files --others -i --exclude-standard

	up = "!(git stash > /dev/null && git pull) && git stash pop > /dev/null"
	rewrite = "!sh -c 'git rebase -i HEAD~$1' -"
	unstage = "reset HEAD --"

	# Use case: git push origin master && git push upstream master
	push-to-all = "!git push origin `git rev-parse --abbrev-ref HEAD` && git push upstream `git rev-parse --abbrev-ref HEAD`"

	# What will be received?
	in = "!git remote update -p; git log ..@{u}"
	# What will be sent?
	out = "log @{u}.."

	clean-branches = "!git branch --merged | grep -v '*' | xargs -n 1 -t git branch -d"
	# Command clean-origin-branches is in ~/bin/git-clean-origin-branches file.

[hub]
	protocol = https

[rerere]
	enabled = true

[push]
	default = simple
