[user]
	name = Alexey Shockov
	email = alexey@shockov.com
[color]
	ui = true
[core]
	autocrlf = input
	editor = nano
	whitespace = trailing-space,space-before-tab
	excludesfile = ~/.gitignore
[clean]
	requireForce = true
[branch]
	autosetuprebase = always
[help]
	autocorrect = 1
[apply]
	whitespace = fix
[github]
	user = alexeyshockov
[sendemail]
	smtpserver = smtp.gmail.com
	smtpuser = alexey@shockov.com
	smtpserverport = 587
	smtpencryption = tls
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%an%d%Creset %s %Cgreen(%cr)%Creset' --date=relative
	st = status -sb
	ready = rebase -i @{u}
	standup = "!git log --since yesterday --author `git config user.email`"
[hub]
	protocol = https
