[user]
        name = Alexey Shokov
        email = alexey@shockov.com
        signingkey = B068234E64AA1A9C
[include]
	# Local overrides (work, etc.)
	path = ~/.gitconfig.local
[color]
	ui = true
[core]
	autocrlf = input
	editor = vim
	whitespace = trailing-space, space-before-tab
	pager = diff-so-fancy | less --tabs=4 -RFX
[commit]
	verbose = true
[credential]
	helper = osxkeychain
[fetch]
	prune = true
[clean]
	requireForce = true
[branch]
	autoSetupRebase = always
[help]
	autoCorrect = 10
[apply]
	whitespace = fix
[github]
	user = alexeyshockov
[sendemail]
	smtpserver = smtp.gmail.com
	smtpuser = alexey@shockov.com
	smtpserverport = 587
	smtpencryption = tls
[hub]
	protocol = https
[rerere]
	enabled = true
[push]
	default = simple
[log]
	follow = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[diff]
	tool = icdiff
[difftool]
	prompt = false
[difftool "icdiff"]
	cmd = /usr/local/bin/icdiff $LOCAL $REMOTE
[rebase]
	autoSquash = true
	autoStash = true
[stash]
	showPatch = true
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%an%d%Creset %s %Cgreen(%cr)%Creset' --date=relative
	v = log --pretty=format:'%cd%Cgreen%d %Cblue%h %Creset%s' --abbrev-commit --date=short -1
	st = status -sb
	s = status
	a = add -u
	c = commit
	d = diff
	dc = diff --cached

	rs = restore --staged

	standup = "!git log --since yesterday --author `git config user.email` --pretty=format:'%Cred%h%Creset %C(yellow)%an%d%Creset %s %Cgreen(%cr)%Creset' --date=relative"
	overview = log --all --graph --simplify-by-decoration --decorate --pretty=format:'%cd%Cgreen%d %Cblue%h %Creset%s' --date=short

	ignored = ls-files --others -i --exclude-standard

	rewrite = "!sh -c 'git rebase -i HEAD~$1' -"
	unstage = "reset HEAD --"

	# Use case: git push origin master && git push upstream master
	push-to-all = "!git push origin `git rev-parse --abbrev-ref HEAD` && git push upstream `git rev-parse --abbrev-ref HEAD`"

	# What will be received?
	in = "!git remote update -p; git log ..@{u}"
	# What will be sent?
	out = "log @{u}.."

	# Command clean-origin-branches is in ~/bin/git-clean-origin-branches file
	clean-branches = "!git branch --merged | grep -v '*' | xargs -n 1 -t git branch -d"

	please = push --force-with-lease
	ca = commit --amend --no-edit
