[submodule ".vim/bundle/base16-vim"]
	path = .vim/bundle/base16-vim
	url = git@github.com:chriskempson/base16-vim.git
[submodule "/Users/alexey.shokov/.submodules/catppuccin_fish"]
	path = /Users/alexey.shokov/.submodules/catppuccin_fish
	url = git@github.com:catppuccin/fish.git
