/Applications
/Desktop
/Documents
/Downloads
/Development
/Dropbox
/Creative Cloud Files
/Google Drive
/Library
/Movies
/Music
/Pictures
/Public
/Vagrant Boxes
/VirtualBox VMs
/Yandex.Disk
/Yandex.Disk.localized
/mbox
/TomTom MySports
/floobits

/*_history
/.lesshst

/default-soapui-workspace.xml
/soapui-settings.xml

tmp

/*.retry

/.netrc
/.pgpass
/pgadmin.log

# GitHub authentication token.
/.config/hub
/.composer/config.json

/.*
