yaml
ds

xdebug

mongodb
rdkafka
# Use /opt/homebrew/Cellar/rabbitmq-c/0.11.0 as librabbitmq path
amqp

# For Phan static analyzer
ast

# enable sockets supports? [no] : yes
# enable openssl support? [no] : no
# enable http2 support? [no] : no
# enable mysqlnd support? [no] : yes
#swoole
