ptpython
Markdown
Pygments
typogrify
psycopg2  # PostgreSQL driver
mitmproxy
docker-py
gsutil
gspread
PyYAML
pyinfra
# pylint  # This one is packaged by Homebrew
diagrams
clickhouse-driver
pandas
pendulum
python-dotenv
